@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";



.left {
  grid-area: left;
  }

img {
    max-width: 100%;
    height: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gainsboro;
    background-size: cover;
}
table{
  border-collapse:collapse;
  text-align: left;
}

td {
  border: solid 1px;
  margin:0 auto;
}
.btn3{
  border-radius:5px 5px 5px 5px ;
  background: none;
  background-color: #3f4f52;
  border: 2px solid #37248a;
  color: #d8d8d8b9;
  padding:5px;
  font-size:18px;
  cursor:pointer;
  margin: 12px 0;
  position: absolute;
  right: 2.3%;
  top:86%;
}
.btn2{
  border-radius:5px 5px 5px 5px ;
  background: none;
  background-color: #1b7e65;
  border: 2px solid #37248a;
  color: #d8d8d8;
  padding:5px;
  font-size:18px;
  cursor:pointer;
  margin: 12px 0;
  position: absolute;
  right: 20%;
  top:86%;
}
      
.btn{
  width: 55%;
  background: none;
  border: 2px solid #33225c;
  color: #33225c;
  padding:5px;
  font-size:14px;
  cursor:pointer;
  margin: 6px 0;
}
.btn4{
  width: 42%;
  background: none;
  border: 2px solid #33225c;
  color: #33225c;
  padding:5px;
  font-size:14px;
  cursor:pointer;
  margin: 12px 0;
}
.loginBox{
    border-radius:25px 25px 25px 25px ;
    width: 100%;
    border: 1px solid;
    position: relative;
    top: 10%;
    color: rgb(19, 17, 17);
    background-color: rgba(110, 85, 18, 0.452);
    padding-left: 1.3cm;
    padding-right: 1.3cm;
    padding-top: 0.1cm;
    padding-bottom: 0.5cm;

}

.loginBox h1{
    float: left;
    font-size: 40px;
    border-bottom: 5px solid #040b49;
    margin-bottom: 15px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #442dac;
}

.loginBox input::placeholder{color:rgba(37, 25, 27, 0.466)}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: rgb(5, 4, 5);
    font-size: 18px;
    width: 60%;
    float: left;
    margin: 0 10px;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

html{
  position: relative;
  min-height: 100%;

}


#tableorder {
  
  display: grid;
  overflow: hidden ;
  text-align: center;
  width:35%;
  position: relative;
padding: 25px;

  border:3px solid;

  grid-template: 
    'hhh hhh hhh hhh hhh hhh'
    'aaa bbb ccc ddd eee fff' 
    'aa ba ca da ea fa' 
    'ab bb cb db eb fb' 
    'ac bc cc dc ec fc' 
    'ad bd cd dd ed fd' 
    'ae be ce de ee fe' 
    'xxx xxx xxx ef ef ff' 
    'xxx xxx xxx eg eg fg' 
    'xxx xxx xxx eh eh fh' 
    'xxx xxx xxx ei ei fi' 
 ;
 grid-template-columns: 1fr 3fr 1.5fr 1fr 1.5fr 1.5fr;
 grid-template-rows: 120px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
} 
.hhh{
  grid-area: hhh;border:none;
  border-bottom: 1px solid;
}
.xxx{
  grid-area: xxx;border:1px solid;border-left:2px solid;border-bottom: 2px solid;
}

  .aaa {
    grid-area: aaa;border:1px solid;border:1px solid;border-left:2px solid;
  }
  .bbb {
    grid-area: bbb;border:1px solid;
  }
  .ccc {
    grid-area: ccc;border:1px solid;
  }
  .ddd {
    grid-area: ddd;border:1px solid;
  }
  .eee {
    grid-area: eee;border:1px solid;
  }
  .fff {
    grid-area: fff;border:1px solid;border-right: 2px solid;
  }
  .aa {
    grid-area: aa;border:1px solid;border-left:2px solid;
  }
  .ab {
    grid-area: ab;border:1px solid;border-left:2px solid;
  }
  .ac {
    grid-area: ac;border:1px solid;border-left:2px solid;
  }  
  .ad {
    grid-area: ad;border:1px solid;border-left:2px solid;
  }
  .ae {
    grid-area: ae;border:1px solid;border-left:2px solid;
  }
  .ba {
    grid-area: ba;border:1px solid;
  }
  .bb {
    grid-area: bb;border:1px solid;
  }
  .bc {
    grid-area: bc;border:1px solid;
  }
  .bd {
    grid-area: bd;border:1px solid;
  }
  .be {
    grid-area: be;border:1px solid;
  }
  .ca {
    grid-area: ca;border:1px solid;
  }
  .cb {
    grid-area: cb;border:1px solid;
  }
  .cc {
    grid-area: cc;border:1px solid;
  }
  .cd {
    grid-area: cd;border:1px solid;
  }
  .ce {
    grid-area: ce;border:1px solid;
  }
  #da {
    grid-area: da;border:1px solid;
  }
  #db {
    grid-area: db;border:1px solid;
  }
  #dc {
    grid-area: dc;border:1px solid;
  }
  #dd {
    grid-area: dd;border:1px solid;
  }
  #de {
    grid-area: de;border:1px solid;
  }
  #ea {
    grid-area: ea;border:1px solid;
  }
  #eb {
    grid-area: eb;border:1px solid;
  }
  #ec {
    grid-area: ec;border:1px solid;
  }
  #ed {
    grid-area: ed;border:1px solid;
  }
  #ee {
    grid-area: ee;border:1px solid;
  }
 .ef {
    grid-area: ef;border:1px solid;
  }
  .eg {
    grid-area: eg;border:1px solid;
  }
  .eh {
    grid-area: eh;border:1px solid;
  }
  .ei {
    grid-area: ei;border:1px solid;border-bottom: 2px solid;
  }  
  #fa {
    grid-area: fa;border:1px solid;border-right: 2px solid;
  }
  #fb {
    grid-area: fb;border:1px solid;border-right: 2px solid;
  }
  #fc {
    grid-area: fc;border:1px solid;border-right: 2px solid;
  }
  #fd {
    grid-area: fd;border:1px solid;border-right: 2px solid;
  }
  #fe {
    grid-area: fe;border:1px solid;border-right: 2px solid;
  }
  #ff {
    grid-area: ff;border:1px solid;border-right: 2px solid;
  }
  #fg {
    grid-area: fg;border:1px solid;border-right: 2px solid;
  }
  #fh {
    grid-area: fh;border:1px solid;border-right: 2px solid;
  }
  #fi {
    grid-area: fi;border:1px solid;border-bottom: 2px solid;border-right: 2px solid;
  }

    .left  {
background-image: url("include/Logo.jpg");
background-size: 100%;
width:100%;
height:220px;
background-repeat: no-repeat;}

  .middle{
    background-image: url("include/Banner.jpg");
height: 100%;
width:100%;
background-repeat: no-repeat;
background-size:cover;
overflow: hidden;

  }

  .right {
    width:100%;
    height: 78px;;
background-size: cover;
background-color: #3f4f52; 
    padding: 0px;
    margin:0px;
    overflow: hidden ;
  }

  .middle H1{   
    font-size: 36px;
    text-align: left;
    overflow: hidden ;
}
  .right H3{
    font-size: 20px;
    text-align: left;
    position: static;
    overflow: hidden ;
  }
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }
  
  .secondleft {
    grid-area: secondleft; 
  }
  .secondright {
    grid-area: secondright; 


}
  .bottom{
    grid-area: bottom;
height: fit-content;

  }  
  .bottom table{
    width: 100%;
  border: 1px solid;
  margin: 0;
  padding: 0;
  border-collapse:collapse;

  }

  * {
    box-sizing: border-box;
  }

  @media only screen and (max-width: 770px){.left {width:min-content;height: min-content;}}
  @media only screen and (max-width: 770px){.middle {display:block;}}
  @media only screen and (max-width: 770px){.middle {display:none;}}
  @media only screen and (max-width: 770px){.right {font-size:10px;height:auto;}}
  @media only screen and (max-width: 770px){.right br{font-size: 10px;}}
  @media only screen and (max-width: 770px){.secondleft {width:100%;height:100%;font-size:10px;}}
  @media only screen and (max-width: 770px){.secondleft br{display:none;}}

  @media only screen and (max-width: 770px){.secondright {width:100%;height:fit-content;font-size:10px;}}
  @media only screen and (max-width: 770px){.secondright br{display:none;}}
  @media only screen and (max-width: 770px){#tableorder {width:fit-content;height:fit-content;font-size:10px;}}
  @media only screen and (max-width: 770px){#tableorder div{font-size-adjust:unset;}}
  @media only screen and (max-width: 770px){#tableorder br{display:none;}}
  @media only screen and (max-width: 770px){#tableorder br{display:block;}}
  @media only screen and (max-width: 770px){.bottom {width:100%;font-size:10px;}} 
  @media only screen and (max-width: 770px){.btn2 {width:20%;left: 45%;font-size: 10px;}} 
  @media only screen and (max-width: 770px){.btn3 {width:20%;left: 70%;font-size: 10px;}} 

  @media only screen and (min-width: 770px){#tableorder {left: 12%;}}
  @media only screen and (min-width: 770px){.loginBox {left: 11%;}}
  @media only screen and (min-width: 770px){.loginBox {width: 30%;font-size: 10px;}}
  .grid-container {
    
    display: grid;
    overflow: hidden ;
    width: 100%;

    grid-template: 

      'left middle right' 
      'secondleft secondright secondright' 
      'bottom bottom bottom' 
   ;
   grid-template-columns: 220px minmax(470px,85%) minmax(170px,15%);
   grid-template-rows: 78px minmax(830px,85%) auto;
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 
  @media only screen and (max-width: 770px){.grid-container {display:grid;
    grid-template: 
    'left'
    'right' 
    'secondleft'
    'secondright'
    'bottom' 
   
  }


} 
  
  .grid-container::after {
    content: "";
    clear: both;
    display: table;}